{% extends "detail/base.html" %}
{% block bb %}

<header style="background-image:url('/static/image/zzz.jpg'); height:350px; width:100%;">
    <div class="d-flex justify-content-center align-items-center" style="height:350px">
    <h1 class="io">
        안녕하세요 만나서 반갑습니다~
    </h1>
    </div>
</header>

<footer class="fixed-bottom" style="height:50px; width:100%; background-color:#A9A9A9;">
  <div class="row d-flex justify-content-between">
  <div class="ml-5">ssafy</div>
  <div class="mr-5"><a href="https://edu.ssafy.com/data/upload_files/crossUpload/openLrn/ebook/unzip/A20190117130334532/index.pdf" download>상단으로 올라가기</a></div>
</div>
</footer>
{% endblock %}