{% extends "detail/base.html" %}
{% block bb %}


    <div class="container">
        <div class="position-fixed">
            <div class="left" style="width:50%; float:left; box-sizing:boder-box;">
             <div class="card mt-5 pt-5" style="width: 18rem;">
              <img src="/static/image/iu2.jpg" class="card-img-top rounded-circle" alt="...">
              <div class="card-body">
                <h5 class="card-title">Name</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Logout</a>
              </div>
            </div>
        </div>
    </div>
        
        <div class="right" style="width:50%; float:right; box-sizing:boder-box;">
            <div class="card mt-3" style="width: 18rem;">
              <img src="/static/image/iu.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">작성글</h5>
                <a href="#" class="btn btn-primary">자세히보기</a></a>
              </div>
            </div>
            
            <div class="card mt-3" style="width: 18rem;">
              <img src="/static/image/iu.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">작성글</h5>
                <a href="#" class="btn btn-primary">자세히보기</a></a>
              </div>
            </div>
            
            <div class="card mt-3" style="width: 18rem;">
              <img src="/static/image/iu.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">작성글</h5>
                <a href="#" class="btn btn-primary">자세히보기</a></a>
              </div>
            </div>
            
        </div>
    </div>



{% endblock %}